charset "utf-8";
/** Estilos Generales ***/
html, body {
	margin:0px;
	width:100%;
	height:100%;
	background-color:#CCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
#marco {
	height: auto;
	width: 900px;
	margin: 0 auto;
	padding: 10px;
	border-radius:5px;
	background-color:#848383;
	//background-color:#06F;
}
#contenedor {
	height: auto;
	width: 900px;
	background-color: #FFF;
	display: table;
}
#contenido {
	text-align: center;
}
#header {
	height: 100px;
width: 100%;
	text-align: center;
	vertical-align: middle;
  background-image:url(../imagenes/header.png);
  background-repeat: no-repeat;
}
#footer {
	height: 50px;
	width: 100%;
	text-align: center;
	display: table-row;
}
#textofooter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
/**********************/
#informacion {
	height: 40px;
	width: 100%;
}
#logueado {
	width: 600px;
	height: 25px;
	vertical-align: middle;
	text-indent: 20px;
	margin-top: 7px;
	margin-left: 7px;
	float: left;
}
#salir_regresar {
	width: 260px;
	margin-top: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
	float: right;
	height: 25px;
	text-align: center;
	text-transform: uppercase;
  cursor:pointer;
}

.menu td {
	/*height: 160px;/**/
  height: auto;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	width: 160px;
	border-radius:5px;
	//border: 1px dashed #006;
	background-color: #EDEDF0;//E6E7FF;
}
.objMenu {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	font-style: normal;
	background-color: #77bc1f;
	margin-top: 5px;
	margin-bottom: 5px;
  margin-left:auto;
  margin-right:auto;
	color: #FFF;
	border-radius:5px;
	width: 95%;
  padding: 4px;
	
}
.objMenu:hover{ cursor:pointer; background-color:#848383; }
.accion {
	font-size: 20px;
	width: 600px;
	text-align: left;
	text-indent: 50px;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	font-style: italic;
	margin-left: 30px;
	background-color: #FFC;
	color: #002259;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#form2 {
	height: auto;
	width: 600px;
	margin:0 auto;
}

input[type='text']{
	text-align:center;
	font-size:16px;
}
#horario {
	height: 100%;
	width: 100%;
}
#tablafiltro {
	border: 1px dotted #CCC;
	font-size: 12px;
	margin: 0 auto;
}

	table.consultas{
		border-collapse: collapse;
		width: 100%;
		margin: auto;
	}
	table.consultas td, table.consultas th, table.consultas pre{
		font-family: sans-serif;
		font-size: 9px;
	}
	table.consultas td, table.consultas th{
		border: solid 1px #000000;
		padding: 4px;
	}
	table.consultas th{
		background-color: #4B67A1;
		color: #FFFFFF;
	}
	table.consultas th,table.consultas h1{text-align: center;}
	table.consultas h1{font-size: 16px;}
	.limite{width: 100px;}
